<section class="flex gap-12">
    <div class="flex flex-col w-[100%]">
        <form #form="ngForm" (ngSubmit)="loadMember()">
            <div>
                <select name="role" [(ngModel)]="userParams.role">
                    @for (role of roleList; track role.value) {
                        <option [value]="role.value">
                            {{role.display}}
                        </option>
                    }
                </select>
            </div>
            <button type="submit">Aplicar filtro</button>
        </form>
        @if (memberService.paginatedResult()?.pagination) {
        <div class="flex justify-center">
            <pagination [boundaryLinks]="true" [totalItems]="memberService.paginatedResult()?.pagination!.totalItems"
                [itemsPerPage]="memberService.paginatedResult()?.pagination!.itemsPerPage"
                (pageChanged)="pageChanged($event)" [maxSize]="10" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">

            </pagination>
        </div>
        }
        <div class="flex gap-8 justify-start flex-wrap p-8 w-[100%]" pagination-template>
            @for (members of memberService.paginatedResult()?.items; track members.id) {
            <div class="card">
                <div class="info-people">
                    <img class="img-person" src="{{members.photoUrl || './user.png'}} " alt="">
                    <div class="info">
                        <p class="name normal-case">{{members.userName}}</p>
                        <p class="normal-case">{{members.role}}</p>
                        <p>{{members.age}}</p>
                    </div>
                </div>
                <p class="about normal-case">{{members.about}}</p>
                <div class="flex items-center gap-6">
                    <button routerLink="/especifico/{{members.userName}}">Mais informações</button>
                    @if (accountService.roles().includes('Admin') ) {
                    <img src="editar.png" class="w-10 h-10 p-[5px] bg-[#016585] rounded-[12px]"
                        routerLink="admin/edit/{{members.userName}}" alt="">

                    <img class="w-10 h-10 p-1  bg-[#016585] rounded-[12px]" src="excluir.png"
                        (click)="deleteUser(members)">
                    }
                </div>
            </div>
            }
        </div>
    </div>
</section>